# Week 3 - Cleaning data
Eighty percent of the time you spend creating a machine learning model will be in cleaning and finding features to use to improve your model.  This week you will learn to explore your data set.
The first step in the process will be examining the data set.  You can ask the following questions.

1. Determine the target variable.  This is the variable you want to predict.
2. Are there any missing values in the target variable?  Should we drop those records from the data set?  Theses questions should be asked of the
   stakeholders of the project.  If you are doing a supervised machine learning project.  Then the records without target variables should be
   eliminated.  However, if you are fitting a unsupervised model than it may not matter.
3. Does all the records have the appropriate values in the columns?  If not, can we determine what should be in the column or will we replace
   the value in the column?
4. Having a subject matter expert on the predictive modeling team will be of great use when answering these question.
5. If the model is a supervised model, is it a regression or classification model.  You can always take a regression model and change it to a 
   classification model. However, it is not easy to go the opposite direction.
6. During the cleaning process, you will discover if there are duplicate records, data outliers, data entry errors, inconsistent data types, and 
   unbalance data sets.

During this week, you will continue to work with the AirBnB data set. Using the Pandas commands below.

```
import pandas as pd

airbnb = pd.read_csv("Airbnb_Open_Data.csv")
airbnb.info()
```
if you have an url where the file can be found, you can use the code below.

```
import pandas as pd

url = 'https://media.geeksforgeeks.org/wp-content/uploads/20240729174527/Airbnb_Open_Data.csv'
airbnb = pd.read_csv(url)
airbnb = airbnb.drop("license", axis=1)

airbnb.info()
```
The Data Dictionary associated with the data set above can be found by clicking here.
[Airbnb Open Data Dictionary](https://docs.google.com/spreadsheets/d/1b_dvmyhb_kAJhUmv81rAxl4KcXn0Pymz/edit?gid=1967362979#gid=1967362979 "The AirBnb data dictionary")

# Question 1
1. The first thing to do is to use the code above in the code cell below to read the data into a dataframe variable named airbnb. 
2. Then run the info() command above to view the columns in the data set.

In [ ]:
# Question 1

# Duplicate Records
From the info() column list you see there are 102,599 records in the data set.  We need to know if any of them are duplicate records.  Use the Python commands below to determine the number of duplicates in the data set.

```
airbnb_mask = airbnb.duplicated()
airBnb = airbnb.drop_duplicates()
airBnb.info()
```

# Question 2
1. Enter the python code found above in the code cell below and eliminate the duplicate records.
2. and put the unique records in a dataframe named airBnb.

In [ ]:
# Question 2

# Before Splitting the Data
Before splitting our data into training and test data sets.  We will look at the data and examine it to decide which columns to keep in the machine learning models.  Before running the model we will examine each variable and decide if the data is valuable to use in creating a machine learning model. 
<br><br>
## Here is some questions we must answer during the cleaning process.<br>
1. How many records are in the dataset?
2. Identify the target variable, the column that will be predicted.  Make sure you drop any records that that adds no value to the model. 
3. Review each column and determine whether it will used in the model
4. Determine if it is the correct data type (Dtype).
5. Determine the unique values in the record

# Column Examination

Let's start with the first column.  The first column is **id**.  Id represents the unique identifier that Airbnb has given the listing.  This does not column will not contribute to the price of the listing.  Therefore, we can **drop this column.**

```
airBnb.drop('id', axis=1,inplace=True)
airBnb
```

# Question 3
1) Using the Python command above to drop the id column.

In [ ]:
# Question 3

The second column is **NAME.**  It is the name of the listing. The name is what the airBnb wants to label it.  **The uniques NAME listings and their count  can be found by the Python command below.**
```
airBnb["NAME"].value_counts()
```

It shows that the **NAME** used the most only occurs 33 times but there is 102599 records.  The NAME does not add value to the price so we can drop it.

# Question 4
1. Using the Python command above view the contents of the NAME column.
2. Use the drop command to get rid of the column from the airBnb data set.

In [ ]:
# Question 4 - 1)

In [ ]:
# Question 4 - 2)

The next column is **host id.**
```
airBnb['host id'].value_counts()
```
Very few host id that have more than 2 listings so host id does not contribute to the price of the airBnb.  Therefore, we will drop the column.
```
airBnb.drop("host id", axis=1, inplace=True)
```
# Question  5
1. Using the Python command above view the contents of the host_id column.
2. Use the drop command to get rid of the column from the airBnb data set.

In [ ]:
# Question 5 - 1)

In [ ]:
# Question 5 - 2)

# host_identity_verified
The next column is host_identity_verified.  Let's look to see the contents of this column.  
```
airBnb['host_identity_verified'].value_counts()
```
There was unconfirmed and verified as items listed in the column.  There are a total 51200 + 51110 = 102310.  There are 289 records without values.
There is text in this column.  This column will be included in the data set.  Notice for host_identity_verified column is text.


# Question 6
1) Use the Python command above to see the contents of the column.

In [ ]:
# Question 6

# host name
The next column is **host name**.  Let's look at the contents of this column.
<br>
```
airBnb["host name"].value_counts()
```
<br>
Since the name of the host does not add to the model, we can delete this column.
```
airBnb.drop("host name", axis=1, inplace=True)
```

# Question 7
1. Use the value_counts() to display the contents of the column and how often they occur.
2. Use the drop method to drop the column from the dataframe.

In [ ]:
# Question 7 - 1)

In [ ]:
# Question 7 - 2)

# Other columns to delete
From the info() command.  You can see that there are three columns last review, review rate number, and house_rules that have less than 100,000 records.  When you want to drop a number of columns you can insert the list of columns in a list.

```
airBnb.drop(["last review", "reviews per month", "house_rules"], axis=1, inplace=True)
```

# Question 8

1) drop the last review, reviews per month, and house_rules columns use the python command learned above.

In [ ]:
# Question 8

# price
Notice price is an object or a string.  Let's use the value_counts() to see the contents of the column.

```
airBnb["price"].value_counts()
```

Notice each value has a dollar sign.  The dollar sign is what make this column register as a string or object.  However, that is not what we want when building this regression model.  We want to predict the cost of the price of the airbnb.  The price must be a float point.  The "$" and "," must be removed from the price.
```
airBnb["price"] = airBnb["price"].str.replace("$", "")
airBnb["price"] = airBnb["price"].str.replace(",", "")
airBnb["price"] = airBnb["price"].astype(float)
airBnB["price"].value_counts()
```

# Question 9
1) Use the Python commands above to convert price from a string by first  to a float.

In [ ]:
# Question 9

# Target variable
Since we will create a model to predict the price of the AirBnb property, if there are records that do not have price
values we will drop from the data set.  Use the Python command below.

```
bool_series = pd.isnull(data["price"])  # list of missing 

```

# Question 10
1. Remove records that have missing values in the Target column.

In [ ]:
# Question 10

# neighbourhood group
Find the unique values in this column
```
airBnb['neighbourhood group'].value_counts()
```
Dealing with miss type items you can use the following code to correct them.
```
airBnb['neighbourhood group'] = airBnb.loc[:,'neighbourhood group'].str.replace('brookln', 'Brooklyn')
airBnb['neighbourhood group'] = airBnb.loc[:,'neighbourhood group'].str.replace('manhatan', 'Manhattan')
airBnb['neighbourhood group'].value_counts()
```

# Question 11
1. Use the code above to find the number of unique neighbourhood group.
2. Use the code above to change brookln to Brooklyn.
3. Use the code above to change manhatan to Manhattan.
4. Use the code above to find the count of each unique value.

In [ ]:
# Question 11 - 1)

In [ ]:
# Question 11 - 2) and 3)

In [ ]:
# Question 11 - 4)

# neighbourhood

To view the contents of the neighbourhood column by using the following command.
```
airBnb['neighbourhood'].value_count()
```

# Question 12
1. Use the code above to determine the unique contents in the neighbourhood column.

In [ ]:
# Question 12

# lat

Find the unique values of the lattitude.

```
airBnb['lat'].value_counts()
```
# Question 13
1) Using the code above, determine the unique values in the data set

In [ ]:
# Question 13

# Repeat the process for column 'long'

# Question 14

Find the unique values of the longitude

In [ ]:
# Question 14

# Column country

# Question 15
1.  Using the code above, determine the unique values in the data set
2.  If there are **not** different countries, drop the country column using the python code from above.

In [ ]:
# Question 15 - 1)

In [ ]:
# Question 15 - 2)

# Column country code

# Question 16
1.  Using the code above, determine the unique values in the data set
2.  If there are **not** different country codes, drop the country column using the python code from above.

In [ ]:
# Question 16 - 1)

In [ ]:
# Question 16 - 2)

# Column instant_bookable


# Question 17 
1. Use the code above, determine the unique values in the data set.

In [ ]:
# Question 17

# Column cancellation_policy

# Question 18
1. Use the code above, determine the unique values in the data set.

In [24]:
# Question 18

# Column room type

# Question 19
1. Use the code above, determine the unique values in the data set.

In [ ]:
# Question 19

# Column service fee - Converting Service fee string to float


# Question 20
1. Using the code learnt while processing the column 'price', remove the $ and , from the data and change to float data.

In [ ]:
# Question 20

# Numerical columns

The remaining columns have numerical values.  At this point we can run the describe() method on the airBnb data frame. 
Use the following code to describe the data set.

```
airBnb.describe()
```

# Question 21
1. Run the describe method above on the airBnb data set.

In [ ]:
# Question 21

# Examining the table
1. The **lat or lattitude** is **reasonable** since airBnb properties are in the New York area.  
2. The **long or longitude** is also **reasonable** for the same reason for the lattitude.
3. The **construction years** range from 2002 to 2022, also **reasonable.**
4. The **price** is between 50 to 1200 dollars, again **reasonable.**
5. The **service fee** range between 10 and 240, also **reasonable.**
6. The **minimum nights** range from **-1223 to 5645 nights**.  The **negative values indicate that no minimum number of nights are required when booking the property. The large number of nights indicates the property requires upto 15+ years when booking it.  The stakeholder will determine if the high minimum nights for properties should not be included in the model.
7. The **number of reviews** we should **look at the records greater than 31 reviews and less than 1024.**
8. The **review rate ranges** from 1 through 5 which is reasonable.
9. The **calculated host listings count** ranges from 1 to 332.  We should look at the number of records that are greater than 2 and less than 333.
10. The **availability 365** has some **negative values indicate the property is completely booked**.

# View the describe table
When you view the describe table you can see the following.
1. The number of records with values.
2. The minimum and maximum values.
3. The Mean and Median values.
4. The 25% or first Quartile=Q1
5. The 75% or third Quartile=Q3

# Question 22
1. Looking at the data above, what are the minimum nights?  
2. Does it make any sense? put 1 for Yes and 2 for No in the ans variable.<br>
1. Yes
2. No

In [ ]:
# Question 22 - 1)
minimumNights =

In [ ]:
# Question 22 - 2)
ans =

# availability 365
Notice the minimum value is -10.  That means property is completely bookout.

# Numerical values
The remaining columns are numerical values.  We can now run the describe() method to inspect the numerical columns.
```
airBnb.describe()
```

# Question 23
1. In the code cell below, enter the describe method for the airBnb dataframe.

In [ ]:
# Question 23

# Creating a Correlation Matrix

When determining the columns to use to build the machine learning model, a correlation matrix is a good method to see which numerical values are correlated with each other.  The Python code to create a correlation matrix is found below.

```
num_column= ['lat', 'long', 'Construction year', 'price', 'service fee', 'minimum nights', 'number of reviews', 'review rate number', 'calculated host listings count', 'availability 365']

airBnb[num_column].corr()
``

# Question 24
1. Use the code above to create a list of numerical column names.
2. Create a correlation matrix with only numerical columns and the target variable 'price.'

In [ ]:
# Question 24

# Visualizing Data
To create a scatterplot you can use the code below.  The x value will be the service fee and the y is the price.

```
import seaborn
seaborn.scatterplot(x="service fee",
                    y="price",
                    data=airBnb)
```


# Question 25
1. Use the code above to create a scatterplot with x = "service fee" and y = "price".
2. Use the code above to create a scatterplot with x = "minimum nights" and y = "price".

In [ ]:
# Question 25 - 1)

In [ ]:
# Question 25  - 2)