# Cleaning Data
You will be cleaning the boston housing data.  It is a real dataset; however, I have changed it to have problems with the data.  The first step in the cleaning process is to read in the dataset.  Here is some sample code help read in the data.  Please change the variables as indicated in the question.

```
import pandas as pd
df = pd.read_csv('boston_clean.csv')
n = 5
df.head(n)  # display first 5 records
```

# Question #1
1. Import the pandas library.
2. Read the boston_clean.csv using the pd.read_csv and store it in the variable **boston**.
3. View the first 20 records of boston

In [ ]:
# Question #1

# What are the columns in your Dataframe
You need to know how many records are in your dataframe and the data types for each feature variable.

# Question 2
1. Use the info() method to find a list of columns in your dataframe and the data types of each feature.

In [ ]:
# Question 2

#  Delete Columns that are of no information

The Unnamed: 0 feature is of no value since it is like the record number. Use the drop() method to remove the dataframe.

```
df.drop("column name", axis=1, inplace=True)  # drop a column remember you should only run this statement once.
df.info()  # list columns in the data set.
```

# Question 3
1. Drop the Unnamed: 0 from the dataframe.
2. List the columns in the dataframe

In [ ]:
# Question 3

# Duplicate Records

It is a good ideal to know how many duplicate records there are.  Especially since we have such a small dataset.

```
df.drop_duplicates(inplace=True)
```

# Question 4
    1. Determine if you have duplicate records by running the command with the boston dataframe.
    2. View the columns using the info() method.

In [ ]:
# Question 4

# Question 5
Are there any duplicate records in the data set?  Enter ans = 'Yes' if there are and ans= 'No' if there are not.

In [ ]:
#Question 5
ans= ''

# Column Data Types

Given the modified Boston Housing Dataset, examine the definitions of each column.

The following describes the dataset columns:

- CRIM - per capita crime rate by town
- ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
- INDUS - proportion of non-retail business acres per town.
- CHAS - Charles River dummy variable ('River' if tract bounds river; 'Other' otherwise)
- NOX - nitric oxides concentration (parts per 10 million)
- RM - average number of rooms per dwelling
- AGE - proportion of owner-occupied units built prior to 1940
- DIS - weighted distances to five Boston employment centres
- RAD - index of accessibility to radial highways
- TAX - full-value property-tax rate per Ten Thousand dollars
- PTRATIO - pupil-teacher ratio by town
- B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
- LSTAT - percentage lower status of the population
- MEDV - Median value of owner-occupied homes in thousands of dollars

# Question 6
1. Should the TAX column be a float?

In [ ]:
# Question 6
ans = ''  # TAX column should be float

# Fix the TAX column

# Question 7
1. List the unique values of the TAX column and identify the error in the column.
2. List the records with the errror.
3. Change the value to a correct string using the loc.
4. Change the column to a float.
5. Use the info() method to list the columns

In [ ]:
# Question 7 - 1)

In [ ]:
# Question 7 - 2)

In [ ]:
# Question 7 - 3)

In [ ]:
# Question 7 - 4)

In [ ]:
# Question 7 - 5)

# Examination of the numerical data

# Question 8
1. Run the describe() method for the boston dataframe. Then examine the data.

In [ ]:
# Question 6

# Fixing data

Review the describe table for the above features to see the following.
- Does the minimum values seem reasonable.  What value should the number start from.g
- Is the variance zero?  This indicates there is only one number in the column.  In this case, we should delete this column.
- Is more than 50% of the data missing in any column?  In this case, we should consider deleting this column for lack of information.
- Should the feature contain negative numbers?  If no, we will assume they are need to take the absolute value of the column.

# Question 9

1. Determine the number of records of INDUS that are negative.
2. Change the negative values to 0.
3. Determine the number of records of DIS that are negative.
4. Change the negative values to 0.
5. Use the describe() method to display the numerical numbers.

In [ ]:
# Question 9 1)

In [ ]:
# Question 9 - 2)

In [ ]:
# Question 9 - 3)

In [ ]:
# Question 9 - 4)

In [ ]:
# Question 9 - 5)

# String Column
The only string column is CHAS.

<br>
# Question 10
1. Determine the unique values in the CHAS column.

In [ ]:
# Question 10