# Week 2 - Programming in Python

This week you will learn about **data structures**.  Last week we finished our journey of learning Python with List.  List can take all different data types.
```
L1 = ['Joey', 'James', 'Joseph', 'Kevin', 'Kathy', 'JoAnn', 'Jolie', 'Helen']
```
Or a list can contain information that is different data type.
```
L2 = ['Billy', 'Turner', 34, 67000, 16.96, 'FT']
```
Yo can create a list of values from 0 to n by the following command
```
K1 = list(range(n+1))
K1
```

# List Comphrensions
Loops have been discussed last week.  This week there is a one statement method of looping through each element of a list.  It is called **list comprehensions.**

```
a_list = [0,  1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
A1 = [num**2 for num in a_list]
A1
```
The output would be the list below.  It took each item in a_list and squared the value and stored it in a list.<br>
**[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]**
<br>
To cube each value in the a_list use the following command.<br>
```
M1 = [num***3 from num in a_list]
M1
```
The output would be the list below.  It took each item in a_list and cubed the value and stored it in a list called M1.<br>
**[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]**<br>
If I have a list of names, I can process through each name.  Include the name if it is **not** 'Sam'.  Then add 'Sam' at the end of the list.<br>

```
people = ["Sam", "Carol", "Mary", "Tim"]
P1 = [name for name in people if name not in ["Sam"]]+["Sam"]
P1
```
The output is listed below.
**['Carol', 'Mary', 'Tim', 'Sam']**

<br>

# Question 1
1. In the first code cell below, use the list comphrension to generate a list of numbers from 0 to 15 numbers and store it in a list call Q1.  Print Q1 list by entering Q1 on the last line in the code cell. 
2. In the second code cell below, raise the list Q1 to the fourth power and store it in cell Q2.  Print Q2 on the last line in the code cell.
3. The third code cell below, create a list l_name = ['Adams', 'Jefferson', 'Green', 'Black', 'White', 'Brown'].  Create a list comprehension to put 'Green' at the end of the list and store it in Q3.  Print Q3 on the last line in the code cell.

In [5]:
# Question 1

# Dictionaries
A data storage method in Python that creates a structure what has keys.
```
L1 = ['Joey', 'James', 'Joseph', 'Kevin', 'Kathy', 'JoAnn', 'Jolie', 'Helen']
L3 = ['Adams', 'Baker', 'Caine', 'Dobbs', 'Elegry','Farms', 'Green', 'Quince']
L4 = [ 34, 56, 78, 23, 45, 29, 31, 44]
L5 = [ 56000, 43000, 44000, 62000, 78000, 56000, 12000, 100000]
L6 = [15.5, 14.3, 12.5, 32.5, 16.5, 10.5, 11.25, 23.0]
L7 = ['FT', 'FT', 'FT', 'FT', 'FT', 'FT', 'PT', 'FT']

emp = {'firstName':L1, 'lastName':L3, 'age':L4, 'salary':L5, 'yos':L6, 'status':L7}

```
The keys in this dictionary call emp are 'firstName', 'lastName', 'age', 'salary', 'yos', and 'status'.  Each is key is like a column however, when you display the dictionary it does not look like a spreadsheet; but it looks like the 
To access the **firstName of the 3rd person** can be found by the following command.  The index is 3 - 1 or 2.  Two represents the third person.
```
emp['firstName'][2]
```
Access the **lastName of the 5th person** can be found by the following command.  The index is 5 - 1 or 4.  Four represents the fifth person.
```
emp['lastName'][4]
```
Similarly, you can get a **list of first names of the individuals that are the 2nd and 5th person on the list**.  The index is 2-1 or 1 and the last is 5 since it will stop at the index 4.
```
emp['firstName'][1:5]
```
Similarly, you can get a **list of all firstNames** by entering the command below.
```
emp['firstName']
```
Similarly, you can get a **list of the first three ages of individuals in the list**.
```
emp['age'][:3]
```
# Question 2
1. In the code cell below create L1, L3, L4, L5, L6, and L7.  Then create the dictionary emp using the code above.
2. Access the lastName of the 5th person in the list.
3. Access the firstName of the 2nd person in the list.
4. Access the age of the last three persons in the list.
5. Access the status of the first four persons in the list.
6. Access the salaries of the second to the seventh person in the list.
7. Access the first six person's years of service(yos) in the list.

In [6]:
# Question 2

# DataFrames
Once dictionary is created, a pandas dataFrame can be created.  The dataFrame displays as an Excel spreadsheet or a database.  Each column will have the header or key from the dictionary and the values below it will be what is the list for that key word in the dictionary.
To create a dataframe from the dictionary, we must first import Pandas Python library.  Then we use the command ```df = pd.DataFrame(emp)```  where emp is the dictionary created above.  df is the name of the dataFrame.  The dataFrame name can be emp_data or something else.  Pick a name that describes the data.


```
import pandas as pd
df=pd.DataFrame(emp)
df
````

<br>

<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>firstName</th>
      <th>lastName</th>
      <th>age</th>
      <th>salary</th>
      <th>yos</th>
      <th>status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Joey</td>
      <td>Adams</td>
      <td>34</td>
      <td>56000</td>
      <td>15.50</td>
      <td>FT</td>
    </tr>
    <tr>
      <th>1</th>
      <td>James</td>
      <td>Baker</td>
      <td>56</td>
      <td>43000</td>
      <td>14.30</td>
      <td>FT</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Joseph</td>
      <td>Caine</td>
      <td>78</td>
      <td>44000</td>
      <td>12.50</td>
      <td>FT</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Kevin</td>
      <td>Dobbs</td>
      <td>23</td>
      <td>62000</td>
      <td>32.50</td>
      <td>FT</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Kathy</td>
      <td>Elegry</td>
      <td>45</td>
      <td>78000</td>
      <td>16.50</td>
      <td>FT</td>
    </tr>
    <tr>
      <th>5</th>
      <td>JoAnn</td>
      <td>Farms</td>
      <td>29</td>
      <td>56000</td>
      <td>10.50</td>
      <td>FT</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Jolie</td>
      <td>Green</td>
      <td>31</td>
      <td>12000</td>
      <td>11.25</td>
      <td>PT</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Helen</td>
      <td>Quince</td>
      <td>44</td>
      <td>100000</td>
      <td>23.00</td>
      <td>FT</td>
    </tr>
  </tbody>
</table>

# Question 3
1. In the code cell below, import pandas as pd.
2. In the same code cell, create the list L1, L3, L4, L5, L6, and L7 using the data above.
3. In the same code cell, create the emp dictionary.
4. In the same code cell, use the code above to create the df DataFrame.
5. Enter df on the next line in the code cell and run the code cell.  The new dataframe df will display in a table like the one above.

In [7]:
# Question 3

# DataFrames from Files
Not only can you use a dictionary to create a dataFrame, you can also read data into a dataFrame from a csv file, Excel workbooks, and other file types.

## Reading a CSV file stored in the same directory
```
fileName = pd.read_csv('/content/Airbnb_Open_Data.csv')
fileName
```
## Reading a CSV file stored on the internet
```
import pandas as pd

url = 'https://media.geeksforgeeks.org/wp-content/uploads/20240729174527/Airbnb_Open_Data.csv'
airBnb = pd.read_csv(url)
airBnb = airBnb.drop("license", axis=1)

airBnb
```

# Question 4
1. Use the code for reading the file from the internet to read in the AirBnb information.
2. Display AirBnb

In [2]:
# Question 4
import pandas as pd
airBnb = pd.read_csv('Airbnb_Open_Data.csv')
airBnb

/tmp/ipykernel_172/3158591907.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  airBnb = pd.read_csv('Airbnb_Open_Data.csv')

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102594,6092437,Spare room in Williamsburg,12312296767,verified,Krik,Brooklyn,Williamsburg,40.70862,-73.94651,United States,...,$169,1.0,0.0,NaN,NaN,3.0,1.0,227.0,No Smoking No Parties or Events of any kind Pl...,NaN
102595,6092990,Best Location near Columbia U,77864383453,unconfirmed,Mifan,Manhattan,Morningside Heights,40.80460,-73.96545,United States,...,$167,1.0,1.0,7/6/2015,0.02,2.0,2.0,395.0,House rules: Guests agree to the following ter...,NaN
102596,6093542,"Comfy, bright room in Brooklyn",69050334417,unconfirmed,Megan,Brooklyn,Park Slope,40.67505,-73.98045,United States,...,$198,3.0,0.0,NaN,NaN,5.0,1.0,342.0,NaN,NaN
102597,6094094,Big Studio-One Stop from Midtown,11160591270,unconfirmed,Christopher,Queens,Long Island City,40.74989,-73.93777,United States,...,$109,2.0,5.0,10/11/2015,0.10,3.0,1.0,386.0,NaN,NaN
102598,6094647,585 sf Luxury Studio,68170633372,unconfirmed,Rebecca,Manhattan,Upper West Side,40.76807,-73.98342,United States,...,$206,1.0,0.0,NaN,NaN,3.0,1.0,69.0,NaN,NaN

# Other panda dataFrame commands

## Viewing records in the dataFrame
 
To view the **first n records** in a pandas dataFrame use the following command.

```
airBnb.head(n)
```
To view the **last n records** in a panda dataFrame use the following command.

```
airBnb.tail(n)
```
If you do not put anything in the parentheses, it will **default to n = 5**.

## Shape of the dataFrame (# of rows by # of columns)
```
airBnb.shape
```
## List the column names in the dataFrame
```
airBnb.columns
```
## Get information about the dataset
```
airBnb.info()
```
1. The output displays the data type for each column in the dataFrame.  
2. The word object indicates the field read into Python as a string value.  
3. In the Non-Null Count column the number of records that do not have missing values is listed.  
4. The Dtype column indicates the data types for each column variable.  
5. At the next to last line of output indicates the number of float values, integer values and string values.  Another data type not indicated but sometimes used is this data type **datetime**.  We will discuss that datedime dtype at in the future.

## Describing data in the DataFrame
```
airBnb.describe()
```
All the numerical variables (integer and float) will show up displaying the following:
- **count** - number of records
- **mean** - average of the column
- **std** - standard deviation of the column
- **min** - minimum value in the column
- **25%** - First quartile where 25% of the data fall below this value and 75% fall above this data point.
- **50%** - Median - where 50% of the data fall below this value and 50% fall above this data point.
- **75%** - Third quartile where 75% of the data fall below this value and 25% fall above this data point.
- **max** - Maximum value in the column.

**If you have multiple things to display in one code cell you can use the print statement.**<br>
```
print(airBnb.head())
print(airBnb.tail())
print(airBnb.shape)
print(airBnb.columns)
print(airBnb.info())
print(airBnb.describe())
```
Otherwise, create a new code cell for each statement.<br>

# Question 5
1. In the first code cell below, enter the code to display the first 10 records in the airBnb dataFrame.
2. In the second code cell below, enter the code to display the last 10 records in the airBnb dataFrame.
3. In the third code cell below, enter the code to display the shape of the airBnB dataFrame.
4. In the fourth code cell below, enter the code to display the list of variables (columns).
5. In the fifth code cell below, enter the code to display the data types and number of data records in the airBnb dataFrame.
6. In the sixth code cell below, enter the code to display the description of the data for numerical column in the airBnb dataFrame.

In [9]:
#Question 5 - first 10 records

In [10]:
# Question 5 - last 10 records

In [11]:
# Question 5 - shape of dataFrame

In [12]:
# Question 5 - list of column names in the dataFrame

In [13]:
# Question 5 - display data types and number of data records in the airBnb dataframe

In [14]:
# Question 5 - display the description of the dataFrame for numerical data

# Select data from the dataFrame
In preprocessing data you may need to look at one or more columns in the dataFrame.  For example, you may want to display the values in the column named **availability 365**.  To do this you would use the following commands:<br>

To view **one column.**
```
airBnb['availability 365']
```

To **view more than one column** use the following code.
<br>
```
airBnb[['Construction year', 'availability 365']] 
```

To select records that meet a specific characteristics.  **Select records where the number of reviews is greater than 50.**
``` 
airBnb[ airBnb[ 'number of reviews'] >50] 
```

To select records that meet two specific characteristics.  **Select records where the number of reviews is greater than 50 and minimum nights is 4 nights.**
```
airBnb[(airBnb['number of reviews'] > 50) & ( airBnb['minimum nights] == 4) ]
```

# Question 6
1. In first code cell below, select the column **country code** from the airBnb dataframe
2. In the second code cell below, select the columns **country code** and **price** from the airBnb dataFrame.
3. In the third code cell below, select the column **calculated host listings count** > 50 from the airBnb dataFrame.
4. In the fourth code cell below, select the column **calculated host listings count > 50** &  **Construction year > 2000.0** from the airBnb dataFrame.

In [15]:
# Question 6 - select the column country code

In [16]:
# Question 6 - select the columns country code and price

In [17]:
# Question 6 - select the columns calculated host listings count > 50

In [18]:
# Question 6 - select the column calculated host listing count > 50 & Construction yeare > 2000.0

# Series
One column from a dataFrame is called a series.  Series as a one-dimensional labeled array capable of holding any data type.  You can do the following actions.<br>

Accessing elements by index or label<br>
Access the 6500 element in the series

```
seriesairBnb = airBnb["price']
seriesairBnb[6499]
```
<br>
** The output of the 6500 record is '$524 '.  Remember the index starts at 0.**
<br>
Change string elements to Uppercase.
```
seriesairBnb = airBnb["country"]
seriesairBnb.str.upper()
```
<br>
** The output of the Country is UNITED STATES **
<br>
find the unique values in the service fee column
```
seriesairBnb = airBnb["service fee"]
seriesairBnb.unique()
```
The output will list all the unique values for service fees
<br>
Change the service fee from string to float<br>

```
seriesairBnb = airBnb["service fee"]
seriesairBnb = seriesairBnb.str.replace("$", "")
seriesairBnb = seriesairBnb.astype(float)
seriesairBnb
```
<br>

The output is the float values it appears as the last line of output.

# Question 7
1. In the code cell below, create a series of room type.
2. In the code cell below, list the unique room types.

In [ ]:
# Question 7

# Question 8
1. In the code cell below. create a series of price in variable seriesBnb.
2. In the code cell below, replace '$' with '' in the variable seriesBnb.
3. In the code cell below, change the series to a float in the variable seriesBnb.
4. In the code cell below, list the contents in seriesBnb

In [ ]:
# Question 8